@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.rotate-y-190 {
  transform: rotateY(190deg);
}

.primary-gradient {
  background: radial-gradient(50% 50% at 50% 50%, #00C8FF 0%, #004DFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
}

.primary-gradient-svg {
  fill: url(#primary-gradient);
}

/* Define the gradient for SVG use */
.primary-gradient-def {
  --gradient-start: #00C8FF;
  --gradient-end: #004DFF;
}