@import "tailwindcss";
.scroll-container {
    height: 400px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.item {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}
