@import "tailwindcss";


.message-open {
    opacity: 1;
    scale: 1;
    transition: 1s all ease-in-out;
    animation: message-in 1s ease-in-out forwards;
}

.background-contact {
    transform: translate(-70%, -50%);
}

@keyframes message-in {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        scale: 0;
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
        scale: 1;
    }
}

.message-close {
    opacity: 0;
    scale: 0;
    transition: 1s all ease-in-out;
    animation: message-out 1s ease-in-out forwards;
}

@keyframes message-out {
    0% {
        opacity: 1;
        transform: rotate(360deg);
        scale: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(0deg);
        scale: 0;
    }
}